# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "pakistani-legal-rag"
primary_region = "sin"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  PORT = "8000"
  HOST = "0.0.0.0"
  ENVIRONMENT = "production"
  CHROMA_DB_PATH = "./ChromaDB"
  COLLECTION_NAME = "pakistan_law"
  GEMINI_MODEL = "models/gemini-2.5-flash"
  TOP_K = "10"
  RETURN_TOP = "5"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
